HOST=0.0.0.0
CRE_SIM_TENDERLY_API_KEY=
CRE_SIM_PRIVATE_KEY=
CRE_SIM_SEPOLIA_RPC_URL=
CRE_SIM_ADMIN_RPC_URL=
CRE_SIM_WS_RPC_URL=
CRE_SIM_SAPPHIRE_RPC_URL=
CRE_SIM_BOUNTY_HUB_ADDRESS=
CRE_SIM_OASIS_STORAGE_CONTRACT=
